* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conatiner {
  width: 800px;
  margin: 0 auto;
}

h1 {
  margin: 1rem 0;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 3rem;
}
