* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.red {
  color: red;
}
.container {
  width: 1000px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 3rem 0;
}
.cal {
  width: 360px;
  color: #333;
  border-top: 2px solid blue;
  font-size: 14px;
}
.cal th,
.cal td {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px;
  text-align: center;
}

.cal th {
  background: rgba(0, 0, 0, 0.1);
}

.cal th :first-child,
.cal td:first-child {
  color: seagreen;
}
.cal th:last-child,
.cal td:last-child {
  color: rgb(105, 46, 139);
}
.cal td {
  cursor: pointer;
  background: #ffff;
  transition: background 0 3rem;
}
.cal td:hover {
  background: #dfdf;
}
